/* 
body{
    background-color: #b06565;
}

.image{
    height: 300px;
    border: 2px solid greenyellow;
    position: relative;
}

.image1{
    max-width: 100%;
    height: 400px;;
    border: 2px solid red;
}

.image1 img {
    width: 100%;
}

.img1 {
    border: 2px solid green;
    position: absolute;
    top: 65px;
    left: 580px;
}


.normal{
    height: 500px;
} */

.container {
  position: relative;       /* parent container relative */
  width: 100%;              /* responsive width */
  max-width: 1200px;         /* optional max width */
  margin: auto;
}

.background {
  width: 100%;              /* background image responsive */
  height: auto;
  display: block;
}

/* .overlay {
  position: absolute;      
  top: 20%;                 
  left: 30%;
  width: 100px;            
  height: auto;
} */
 .overlay {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%); /* always center */
  width: 30%;   /* responsive size */
}

