* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    color: white;
}

:root {
    --bg-color-1: #1A0B2E;
    --bg-color-2: #230E3D;
    --bg-color-3: rgba(53, 17, 101, 0.4);
    --color-1: linear-gradient(30deg, #F7E93F, #FB09B4, #9100F8);
    --color-green-1: #00FF88;
    --font-color-1: (#FFFFFF, rgba(255, 255, 255, 1));
}

/* shared */

@import url('https://fonts.googleapis.com/css2?family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&family=Open+Sans:ital,wght@0,300..800;1,300..800&family=Work+Sans:ital,wght@0,100..900;1,100..900&display=swap');

.open-sans-font {
  font-family: "Open Sans", sans-serif;
  font-optical-sizing: auto;
  font-weight: 400;
  font-style: normal;
  font-variation-settings:"wdth" 100;
}

body {
    background: var(--bg-color-1);
}




/* Header */

header {
    border-bottom: 1px solid #553d826c;
}

/* --Navbar-- */

nav {
    display: flex;
    justify-content:space-between;
    align-items: center;

    max-width: 1200px;
    margin: 0 auto;
    padding: 16px;
}

.nav-image {
    max-width: 219px;
    max-height: 32px;
}
nav img {
    width: 100%;
    height: 100%;
}

.nav-list {
    display: flex;
    gap: 32px;
    list-style-type: none;
}
.nav-list a {
    text-decoration: none;
    color: white;
}

.nav-button {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: .4em;
    color: white;
    background: var(--color-1);

    padding: 12px 16px;
    border-radius: 40px;
    border: none;

    font-weight: 600;
}


/* --Banner-- */

.banner-music {
    max-width: 550px;
    margin: 0 auto;
    top: 35%;
    left: 50%;
    transform: translate(-50%,-50%);
}

.hero-circle {
    width: 350px;
    height: 350px;
    
}

.capsule {
    background-color: var(--color-green-1);
    padding: 8px 16px;
    border-radius: 1000px;
    font-size: 18px;
    font-weight: 600;
    line-height: 22px;
}


.banner-listen h2 {
    line-height: 73px;
    margin-bottom: 16px;
}
.banner-button {
    gap: 5px;
}
.banner-btn1, .banner-btn2 {
    height: 44px;
    padding: 12px 20px;
    border-radius: 30px;
    font-weight: 600;
    margin-top: 24px;
    align-items: center;
}

.banner-btn1{
    background:var(--color-1);
    width: 207px;
}
.banner-btn2{
    border: 1px solid var(--color-green-1);
    color: var(--color-green-1);
    margin-left: 5px;
}
.banner-frame {
    max-width: 550px;
    margin: 0 auto;
    top: 80%;
    left: 50%;
    transform: translate(-50%,-50%);
}


/* --About-- */


.about {
    max-width: 1200px;
    margin: 70px auto 120px;
}

.about-info-tittle {
    margin-bottom: 15px;
}
.about-info-p1, .about-info-p2 {
    opacity: .8;
    text-align: center;
    line-height: 30px;
}

.about-line {
    border: 1px solid white;
    opacity: .1;
    margin: 80px 0;
}

.about-analysis {
    grid-template-columns: repeat(4,1fr);
    grid-template-rows: (1,200px);
    gap: 80px;
}
.gA-box {
    width: 240px;
    display: flex;
    flex-direction: column;
    gap: 16px;
    justify-content: center;
    align-items: center;
}
.gA-box-tittle {
    color: var(--color-green-1);
    font-size: 48px;
    font-weight: 900;
    line-height: 58px;
}
.gA-box-info {
    text-transform: uppercase;
    opacity: .8;
}


/* --Choose-- */

.why-choose {
    background: var(--bg-color-2);
    padding: 120px 0;
}
.choose {
    margin: 0 auto;
    max-width: 1200px;
}

.choose-tittle {
    text-transform: uppercase;
    margin-bottom: 40px;
}

.choose-container {
    display: grid;
    grid-template-columns: repeat(3,1fr);
    grid-template-rows: repeat(2,225px) 273px;
    grid-template-areas: 
    "audio mobile mobile"
    "audio community community"
    "exclusive exclusive resource";
    gap: 30px;
}
.audio {
    grid-area: audio;
}
.mobile {
    grid-area: mobile;
}
.community {
    grid-area: community;
}
.exclusive {
    grid-area: exclusive;
}
.resource {
    grid-area: resource;
}


.choose-capsule {
    border-radius: 40px;
    padding: 40px;
    display: flex;
    flex-direction: column;
    gap: 16px;
    justify-content: center;
    background: var(--bg-color-3);
}

.choose-capsule h2 {
    font-size: 24px;
    font-weight: 700;
    text-transform: capitalize;
}
.choose-capsule p {
    line-height: 24px;
    opacity: .6;
}

/* --Featured and Host */

.featured-host {
    max-width: 1200px;
    padding: 120px 0;
    margin: 0 auto;
}

.frame-main {
    display: flex;
    padding-top: 40px;
    gap: 30px;
}
.frame{
    width: 380px;
}
iframe {
    width: 380px;
    height: 214px;
    border-top-left-radius: 24px;
    border-top-right-radius: 24px;
}
.frame-info {
    border-bottom-left-radius: 24px;
    border-bottom-right-radius: 24px;
    padding: 24px;
    background: var(--bg-color-2);

    display: flex;
    flex-direction: column;
    gap: 12px;
    padding: 24px;
}
.frame-timespan {
    display: flex;
    align-items: center;
    gap: 12px;
}
.frame-timespan-img {
    width: 20px;
    height: 20px;
}
.frame-timespan div {
    font-weight: 600;
    color: var(--color-green-1);
}

/* host */
.host {
    padding-top: 120px;
}

.host-tittle {
    padding-bottom: 40px;
}
.host-container {
    padding: 40px;
    border-radius: 40px;
    background: var(--bg-color-2);
    gap: 24px;
    align-items: center;
    justify-content: center;
}
.host-img {
    width: 380px;
}
.host-img img {
    width: 100%;
    height: 100%;
}

.host-media-box {
    width: 40px;
    height: 40px;
    box-sizing: border-box;
    border: 1px solid rgba(83, 60, 114, 1);
    border-radius: 20px;
    display: flex;
    justify-content: center;
    align-items: center;
}
.host-media-box img {
    width: 16px;
    height: 16px;
}


/* --Footer-- */


.tail-box
{
    top: 50%;
    left: 50%;
    transform: translate(-50%,-50%);
    text-align: center;
}

.logo {
    justify-content: center;
}

.tail-media {
    gap: 40px;
    margin: 32px 0;
}
.tail .media-img {
    width: 24px;
    height: 24px;
    margin-right: 8px;
}