* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

@import url('https://fonts.googleapis.com/css2?family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&family=Open+Sans:ital,wght@0,300..800;1,300..800&family=Work+Sans:ital,wght@0,100..900;1,100..900&display=swap');

.open-sans-font {
  font-family: "Open Sans", sans-serif;
  font-optical-sizing: auto;
  font-weight: 400;
  font-style: normal;
  font-variation-settings:"wdth" 100;
}

:root {
    --bg-color-1: #1A0B2E;
    --bg-color-2: #230E3D;
    --color-1: linear-gradient(30deg, #F7E93F, #FB09B4, #9100F8);
}

body {
    background-color: #7b9eb3;
}


/* Header */

header {
    background-color: var(--bg-color-1);
    border-bottom: 3px solid #5d2fb3;
}

/* --Navbar-- */

nav {
    display: flex;
    justify-content:space-between;
    align-items: center;

    max-width: 1200px;
    margin: 0 auto;
    padding: 16px;
}

.nav-image {
    max-width: 219px;
    max-height: 32px;
}
nav img {
    width: 100%;
    height: 100%;
}

.nav-list {
    display: flex;
    gap: 32px;
    list-style-type: none;
}
.nav-list a {
    text-decoration: none;
    color: white;
}

.nav-button {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: .4em;
    color: white;
    background: var(--color-1);

    padding: 12px 16px;
    border-radius: 40px;
    border: none;

    font-weight: 600;
}

